--
-- PostgreSQL database dump
--

\restrict tuAyhcQgSdZT6jBw6nPCsybkhWmK4cbNgakZdWQJIerpcJOS6ddBQOanbpngi7k

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: moderatorrole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.moderatorrole AS ENUM (
    'MODERATOR',
    'ADMIN'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: blocking_reasons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.blocking_reasons (
    id uuid NOT NULL,
    code character varying(64) NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    hard_block boolean NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- Name: field_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.field_reports (
    id uuid NOT NULL,
    task_id uuid NOT NULL,
    field_path character varying(255) NOT NULL,
    message text NOT NULL,
    severity character varying(20),
    sku_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- Name: idempotency_keys; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.idempotency_keys (
    id uuid NOT NULL,
    key character varying(36) NOT NULL,
    processed_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- Name: moderation_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.moderation_comments (
    id uuid NOT NULL,
    task_id uuid NOT NULL,
    user_id uuid NOT NULL,
    message text NOT NULL,
    is_from_moderator boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- Name: moderation_tasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.moderation_tasks (
    id uuid NOT NULL,
    product_id uuid NOT NULL,
    seller_id uuid NOT NULL,
    category_id uuid,
    kind character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    queue_priority integer NOT NULL,
    assigned_moderator_id uuid,
    json_before json,
    json_after json NOT NULL,
    claimed_at timestamp with time zone,
    claim_expires_at timestamp with time zone,
    decision_at timestamp with time zone,
    decision_comment character varying(2000),
    blocking_reason_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- Name: moderators; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.moderators (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100),
    role public.moderatorrole NOT NULL,
    is_active boolean NOT NULL,
    category_specializations json,
    created_at timestamp with time zone,
    last_login_at timestamp with time zone,
    updated_at timestamp with time zone
);


--
-- Name: product_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_snapshots (
    id uuid NOT NULL,
    task_id uuid NOT NULL,
    snapshot_type character varying(20) NOT NULL,
    data json NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refresh_tokens (
    id uuid NOT NULL,
    token character varying(255) NOT NULL,
    moderator_id uuid NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone,
    revoked_at timestamp with time zone
);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: blocking_reasons blocking_reasons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blocking_reasons
    ADD CONSTRAINT blocking_reasons_pkey PRIMARY KEY (id);


--
-- Name: field_reports field_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.field_reports
    ADD CONSTRAINT field_reports_pkey PRIMARY KEY (id);


--
-- Name: idempotency_keys idempotency_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.idempotency_keys
    ADD CONSTRAINT idempotency_keys_pkey PRIMARY KEY (id);


--
-- Name: moderation_comments moderation_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moderation_comments
    ADD CONSTRAINT moderation_comments_pkey PRIMARY KEY (id);


--
-- Name: moderation_tasks moderation_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moderation_tasks
    ADD CONSTRAINT moderation_tasks_pkey PRIMARY KEY (id);


--
-- Name: moderators moderators_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moderators
    ADD CONSTRAINT moderators_pkey PRIMARY KEY (id);


--
-- Name: product_snapshots product_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_snapshots
    ADD CONSTRAINT product_snapshots_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: idx_blocking_reasons_hard_block; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_blocking_reasons_hard_block ON public.blocking_reasons USING btree (hard_block);


--
-- Name: idx_blocking_reasons_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_blocking_reasons_is_active ON public.blocking_reasons USING btree (is_active);


--
-- Name: idx_snapshot_task_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_snapshot_task_type ON public.product_snapshots USING btree (task_id, snapshot_type);


--
-- Name: idx_tasks_assigned_moderator; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tasks_assigned_moderator ON public.moderation_tasks USING btree (assigned_moderator_id);


--
-- Name: idx_tasks_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tasks_product_id ON public.moderation_tasks USING btree (product_id);


--
-- Name: idx_tasks_queue_priority; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tasks_queue_priority ON public.moderation_tasks USING btree (queue_priority);


--
-- Name: idx_tasks_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tasks_status ON public.moderation_tasks USING btree (status);


--
-- Name: idx_tasks_status_queue_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tasks_status_queue_created ON public.moderation_tasks USING btree (status, queue_priority, created_at);


--
-- Name: ix_blocking_reasons_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_blocking_reasons_code ON public.blocking_reasons USING btree (code);


--
-- Name: ix_field_reports_task_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_field_reports_task_id ON public.field_reports USING btree (task_id);


--
-- Name: ix_idempotency_keys_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_idempotency_keys_key ON public.idempotency_keys USING btree (key);


--
-- Name: ix_idempotency_keys_processed_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_idempotency_keys_processed_at ON public.idempotency_keys USING btree (processed_at);


--
-- Name: ix_moderation_tasks_assigned_moderator_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_moderation_tasks_assigned_moderator_id ON public.moderation_tasks USING btree (assigned_moderator_id);


--
-- Name: ix_moderation_tasks_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_moderation_tasks_product_id ON public.moderation_tasks USING btree (product_id);


--
-- Name: ix_moderation_tasks_queue_priority; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_moderation_tasks_queue_priority ON public.moderation_tasks USING btree (queue_priority);


--
-- Name: ix_moderation_tasks_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_moderation_tasks_status ON public.moderation_tasks USING btree (status);


--
-- Name: ix_moderators_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_moderators_email ON public.moderators USING btree (email);


--
-- Name: ix_refresh_tokens_token; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: moderation_comments moderation_comments_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moderation_comments
    ADD CONSTRAINT moderation_comments_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.moderation_tasks(id) ON DELETE CASCADE;


--
-- Name: product_snapshots product_snapshots_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_snapshots
    ADD CONSTRAINT product_snapshots_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.moderation_tasks(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_moderator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_moderator_id_fkey FOREIGN KEY (moderator_id) REFERENCES public.moderators(id);


--
-- PostgreSQL database dump complete
--

\unrestrict tuAyhcQgSdZT6jBw6nPCsybkhWmK4cbNgakZdWQJIerpcJOS6ddBQOanbpngi7k

